{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "node": false
  },
  "globals": {
    "Edge": true,
    "EdgeUtil": true,
    "Handlebars": true,
    "moment": true,
    "localforage": true,
    "require": true,
    "confirm": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "no-console": "off",
    "linebreak-style": ["error", "unix"],
    "no-unused-vars": ["error", {"vars": "local"}],
    "wrap-iife": ["error", "any"],
    "func-names": "warn",
    "no-underscore-dangle": "off",
    "no-alert": "off",
    "consistent-return": "off",
    "object-curly-newline": ["error", { "consistent": true }],
    "max-len": "off"
  }
}